<html>
<head>
	<title>Adding new player</title>
</head>
<body>
<h2>New player's data</h2>
        <form method="POST" action="useraded">
            <label>Enter firstname</label><br>
            <input type="text" name="firstname" /><br><br>
			<label>Enter lastname</label><br>
            <input type="text" name="lastname" /><br><br>
            <label>Enter age</label><br>
            <input type="number" name="age" /><br><br>
            <label>Enter image</label><br>
            <input type="text" name="image" /><br><br>
            <input type="submit" value="Submit" />
        </form>
</body>
</html>